html, body
{
   height: 100%;
   margin: 0;
}
body
{
    background-color: #343434;
    color: #dddddd;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#submit_button
{
    visibility: hidden;
}

#logo_main
{
    font-size: xx-large;
    padding-bottom: 0px;
}

#logo_small
{
    font-size: small;
}

#mathdict_query
{
    font-size: xx-large;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#logo
{
    text-align: center;
    flex-basis: 18%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2%;
}

#search_field
{
    text-align:center;
    width:100%;
    align-self: center;
    flex-basis: 8%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

#mathdict_query
{
    width:50%;
    min-width:320px;
}

#search_results
{
    width:70%;
    min-width:320px;
    flex-basis: 64%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    flex-grow:0;
    text-align: center;
}

#footer
{
    font-size: small;
    flex-basis: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

table
{
    border-spacing: 0px;
    font-size: normal;
}

th
{
    padding: 6px;
    font-weight: bold;
    text-align: center;
}

td
{
    padding: 6px;
}

a, a:visited, a:hover, a:active
{
    color: #dddddd;
}

tr:nth-child(odd)
{
    text-align: left;
    background-color: #2e2e2e;
}

tr:nth-child(even)
{
    text-align: left;
    background-color: #2b2b2b;
}

.note
{
    font-size: x-small;
    opacity: 0.8;
    display: inline-block;
}
