<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>mathdict</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="icon" type="image/png" href="favicon.png">
        <script defer src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body>
        <div id="main">
        <div id="logo">
            <div id="logo_main">mathdict</div>
            <div id="logo_small">angol-magyar matematikai szótár &#183; english-hungarian math dictionary</div>
        </div>
        <div id="search_field">
            <form method="post" action="" id="search_form">
                <input type="text" id="mathdict_query" name="mathdict_query" placeholder="keresés... / search..." value="{{ query }}"><br>
                <input type="submit" id="submit_button">
            </form>
        </div>
        <div id="search_results">
{% if fail_too_short %}
        <div id="no_results">Search query too short! &#183; Túl rövid keresőkifejezés!</div>
{% elif fail_no_result %}
        <div id="no_results">No results! &#183; Nincs találat!</div>
{% elif results|length > 0 %}
        <table style="width:100%">
        <tr>
            <th>Magyar</th>
            <th>English</th>
        </tr>
{% for item in results %}
        <tr>
            <td>{{ item[1] }}{% if item[3]|length > 0 %} <div class="note">{{ item[3]|safe }}</div>{% endif %}</td>
            <td>{{ item[0] }}{% if item[2]|length > 0 %} <div class="note">{{ item[2]|safe }}</div>{% endif %}</td>
        </tr>
{% endfor %}
        </table>
{% endif %}
        </div>
        <div id="footer">
            <div>{{ word_pair_count }} szópár &#183; {{ word_pair_count }} word pairs</div>
            <div>Visszajelzések, hibabejelentés, új szavak beküldése a <a href="mailto:mathdict@mathdict.org">mathdict@mathdict.org</a> címen vagy a <a href="https://gitlab.com/mathdict/mathdict">git repóban</a>.</div>
            <div>Send feedback, error reports and new words to <a href="mailto:mathdict@mathdict.org">mathdict@mathdict.org</a> or use the <a href="https://gitlab.com/mathdict/mathdict">git repository</a>.</div>
        </div>
        </div>
    </body>
</html>
